<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Math.Spring.com.MapperInterface.ChartMapper">
	<select resultType="GameStage" parameterType="Student" id="doughnutSelect">
		select
			*
	  	from
	  		GameStage
	 	 where
	  		student_id = #{student_id}
	 	 and
	  		game_chapter = 1
	</select>

	<select resultType="UserScore" id="selectClassGameScore">
		select
			*
		from
			GameScore
	</select>

	<select resultType="UserScore" parameterType="Student" id="userGameScore">
		select
			*
		from
			GameScore
		where
			student_id = #{loginId}
		</select>
</mapper>