<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Math.Spring.com.MapperInterface.ChartMapper">


<select id="selectDonutChart" parameterType="Student" resultType="GameChapter">
	select * from
		gamechapter
	where
		stage5 != 2
		and
		student_id = #{student_id}
</select>

<select id="selectChapterScore" parameterType="Student" resultType="GameScore">
	select * from GameScore
	where student_id = #{student_id}
</select>




<select id="selectClassGameScore" resultType="GameScore">
	select * from GameScore
</select>



</mapper>