<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="Math.Spring.com.MapperInterface.FriendMapper">
	<select id="searchFriend" parameterType="String" resultType="Student">
		select
			student_id
			,student_nickname
		from
			student
	  	where
        	student_nickname = #{nickname}
	</select>

	<insert id="friendApply" parameterType="Friend">
		insert into friend
		values (
			friend_seq.nextval
			,#{my_id}
			,#{friend_id}
		)
	</insert>

    <select id = "friendList" parameterType = "String" resultType = "map">
		SELECT
			f.friend_seq as friend_seq
			, f.my_id as my_id
			, f.friend_id as friend_id
			, s.student_name as friend_name
			, s.student_nickname as friend_nickname
		from
			friend f, student s
		where f.friend_id=s.student_id
    	AND f.my_id=#{my_id}
  	  	ORDER BY
			f.friend_id ASC
	</select>

    <delete id="deleteFriend" parameterType="int">
        DELETE FROM
          friend
        WHERE friend_seq = #{seq}
    </delete>
</mapper>