<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Math.Spring.com.MapperInterface.MyClassMapper">
    <select id="searchCode" parameterType="String" resultType="String">
      SELECT myclass_code
      FROM myclass
      where myclass_code = #{codenum}
	</select>

    <insert id="insertMyclass" parameterType="Myclass">
        INSERT INTO myclass
        VALUES(
          #{myclass_code}
          ,#{myclass_name}
          ,#{myclass_teacher_name}
        )
    </insert>

    <select id="classNameList" parameterType="String" resultType="Myclass">
        SELECT myclass_code, myclass_name
        FROM myclass
        where myclass_teacher_name = #{teacher_id}
    </select>

    <select id="classList" parameterType="String" resultType="map">
        SELECT s.student_id AS student_id
               ,s.student_name AS student_name
               ,s.student_nickname AS student_nickname
               ,c.myclass_code AS myclass_code
               ,c.myclass_name AS myclass_name
        FROM student s, myclass c
        WHERE s.STUDENT_MYCLASS_CODE = c.MYCLASS_CODE
          and s.STUDENT_MYCLASS_CHECK = 2
        AND c.MYCLASS_CODE = #{myclass_code}
    </select>

    <select id="classListByStudent" parameterType="String" resultType="Student">
        select student_id, student_name, student_nickname
        from student
        where student_myclass_code = (select student_myclass_code from student where student_id = #{student_id})
    </select>

    <select id="classNameNCodeList" parameterType="String" resultType="map">
        SELECT myclass_code, myclass_name
        FROM myclass
        where myclass_teacher_name = #{teacher_id}
    </select>

    <delete id="deleteClassMyclass" parameterType="String">
        DELETE FROM
          myclass
        WHERE myclass_code = #{code}
    </delete>

    <update id="deleteClassStudent" parameterType="String">
        update student set
        student_myclass_code = null
        ,student_myclass_check = null
        where student_myclass_code = #{code}
    </update>

    <select id="searchclassCode" parameterType="String" resultType="Myclass">
        SELECT myclass_name, myclass_teacher_name
        FROM myclass
        where myclass_code = #{code}
    </select>

    <select id="classyon" parameterType="String" resultType="String">
        SELECT student_myclass_code
        FROM student
        where student_id = #{sessionId}
    </select>

    <update id="applyClass" parameterType="Student">
        update student set
        student_myclass_code = #{student_myclass_code}
        ,student_myclass_check = 0
        where student_id = #{student_id}
    </update>

    <select id="applyClassStudentList" parameterType="String" resultType="Map">
        select
          s.student_id AS student_id
          ,s.student_name AS student_name
          ,s.student_nickname AS student_nickname
          ,m.myclass_name AS myclass_name
          ,m.myclass_code AS myclass_code
        from student s, myclass m
        where m.myclass_teacher_name = #{teacher_id}
          and m.myclass_code = s.student_myclass_code
          and s.student_myclass_check = 0
        ORDER BY myclass_code DESC
    </select>

    <update id="applyInClass" parameterType="String">
        update student set
        student_myclass_check = 2
        where student_id = #{student_id}
    </update>

    <update id="rejectInClass" parameterType="String">
        update student set
        student_myclass_code = null
        ,student_myclass_check = null
        where student_id = #{student_id}
    </update>

    <select id="applyingClass" parameterType="String" resultType="Myclass">
        select m.myclass_name AS myclass_name
              ,m.myclass_teacher_name AS myclass_teacher_name
        from student s, myclass m
        where m.myclass_code = s.student_myclass_code
          and s.student_myclass_check = 0
          and s.student_id = #{student_id}
    </select>

    <update id="canselApplyClass" parameterType="String">
        UPDATE student SET
        student_myclass_code = null
        ,student_myclass_check = null
        where student_id = #{student_id}
    </update>
</mapper>