<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="Math.Spring.com.VO.GameScore" alias="GameScore"/>
		<typeAlias type="Math.Spring.com.VO.GameChapter" alias="GameChapter"/>
		<typeAlias type="Math.Spring.com.VO.Student" alias="Student"/>
		<typeAlias type="Math.Spring.com.VO.Parents" alias="Parents"/>
		<typeAlias type="Math.Spring.com.VO.Teacher" alias="Teacher"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/chartMapper.xml"></mapper>
		<mapper resource="mappers/UserMapper.xml"></mapper>

	</mappers>
</configuration>

